                                             /* Параметры по умолчанию */
body , ul , li , h1 , h2 , a{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
main{
  max-width: 1200px;
  margin: 80px auto 30px;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}


                                                  /* Заголовок */

header{
  background-color:red;
  padding: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 1;
  box-shadow: -10px 5px 15px black;
  box-sizing: border-box;
}
header h1{
  border: white solid 7px;
  color: white;
  border-radius: 30px;
  font-size: 24px;
  text-align: center;
  display: inline-block; 
  padding: 10px;
}
header h1:hover{
  color: blue;
  border-color: blue;
  background-color: white;
}

                                                  /* Изображение  */
.banner{
  position: relative;
  top: -20px;
}
.banner img{
  width: 100%;
}

                                              /* Логотип приветствия */
.banner .welcome{
  position: absolute;
  top: 40%;
  background-color:red;
  border: white solid 11px;
  border-radius: 150px;
  left: 5%;
  padding: 40px;
  font-size: 24px;
  text-align: center;
  color:white;
}
.banner .welcome:hover{
  border-color: blue;
  background-color: white;
  color: blue;
  
}
.welcome span{
  color: blue;
  font-size: 1.5em;
}


                                                /* Навигационный блок    */
.main-nav{
  position: sticky;
  top:100px;
  background-color: #e9e6e6;
  padding: 19px;
  z-index: 1;
  margin-top: -25px;
  box-shadow: 0 5px 15px 0px #000000;
  text-align: center;
}
.main-nav ul{
  white-space: nowrap;
  margin: 0 auto;
  max-width: 1400px;
}
.main-nav li{
  display: inline-block;
  width: 25%;
}
.main-nav li a {
  text-decoration: none;
  font-size: 2vmax;
  color:hsl(0, 62%, 40%);
}
.main-nav li a:hover{
  color: #000000;
  text-decoration: underline;
}                                                    /* Блок текста */
article h2 {
  font-size: 50px;
  color:red;
  margin-bottom: 40px;
}
article{
  line-height: 1.8em;
  color: #4b4b4b;
}
                                                  /* Блок изображений */
.images {
  text-align: center;
  margin 80px 0;
  white-space: nowrap;
}
.images li{
  display: inline-block;
  width: 48%;
  margin: 20px 1% ;
}
.images li:hover{
  position: relative;
  top:-4px;
}
.images li img{
  width: 100%;
}
                                                       /* Блок формы */
.join{
background: #f4f4f4;
text-align: center;
padding: 60px 20px;
color: #4b4b4b;
max-width: 100%;
}
.join h2{
  font-size: 36px;
}
form input{
margin-top: 20px;
padding: 10px 20px;
border-radius: 30px;
border: white solid 3px;
font-size: 24px;
}
form input:focus{
  border: dashed #4b4b4b;
  outline: none;
}
form input:valid{
  border-color: rgb(161, 219, 74);
}
footer{
  background-color: #F63232;
  text-align: center;
  color: #f4f4f4;
  padding: 10px;
}

/* media screen */

@media screen and (max-width: 1200px) {
  .images li{
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .banner .welcome{
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .banner .welcome{
    font-size: 16px;
    padding: 25px;
    border: 
  }


  header{
    padding: 15px;
  }
  header h1{
    font-size: 20px;
    padding: 9px;
  }

  .main-nav{
    top: 72px;
  }
  .banner{
    top: 0px;
  }
}


@media screen and (max-width: 900px) {
  .banner .welcome{
    font-size: 14px;
    padding: 20px;
  }
  header{
    padding: 10px;
  }
  header h1{
    border-radius: 30px;
    font-size: 18px;
    padding: 8px;
  }
  article h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  article{
    line-height: 1.6em;
  }
}

@media screen and (max-width: 700px) {
  .banner .welcome{
    font-size: 10px;
    padding: 15px;
    border:white solid 8px;
  }
  header{
    padding: 8px;
  }
  header h1{
    font-size: 14px;
    padding: 6px;
    border: white solid 5px;
  }
  .main-nav{
    top:60px;
    padding: 14px;
  }
  .main-nav li a {
    font-size: 1.8vmax;
  }
  form input{
    margin-top: 18px;
    padding: 8px 15px;
    border-radius: 30px;
    border: white solid 2px;
    font-size: 20px;
    }
    article h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    article{
      line-height: 1.5em;
    }
    main{
      margin: 30px auto 30px;
    }
}
@media screen and (max-width: 470px)
{
  .main-nav li a {
    font-size: 1.7vmax;
  }
  .main-nav{
    padding: 10px;
  }
  form input{
    margin-top: 13px;
    padding: 5px 9px;
    font-size: 14px;
    }
    .banner .welcome{
      font-size: 7px;
      padding: 10px;
      border:white solid 3px;
    }
    header{
      padding: 4px;
    }
    header h1{
      font-size: 9px;
      padding: 3px;
      border: white solid 2px;
    }
    article h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    article{
      line-height: 1.4em;
    }
    main{
      margin: 20px auto 30px;
    }
    article p{
      font-size: 12px;
    }
    header{
      position: relative;
      top: auto;
    }
    .main-nav{
      top:0;
    }
}
@media screen and (max-width: 420px){
  .banner .welcome{
    top: 20%;
  }
  .main-nav li a {
    font-size: 12px;
  }
}